/*
* Design Widths
*/
$mobile: 640;
$tablet: 1024;
$desktop: 1520;

/*
* Breakpoints
*/
$mobile-width: $mobile + 0px;
$tablet-width: $tablet + 0px;
$desktop-width: $desktop + 0px;

/*
* Fonts
*/
$skytext-reg: SkyTextRegular, Helvetica, Arial, Sans-Serif;
$skytext-med: SkyTextMedium, Helvetica, Arial, Sans-Serif;
$skycons: skycons_2;

/*
* Transitions
*/
$short-transition: .4s;
$med-transition: .6s;
$long-transition: 1s;
