@import '../../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../node_modules/polaris-global/globals/mixins';
@import '../../node_modules/polaris-global/globals/responsive';

@import 'brand-specific-sponsors';

.tile-sponsor {
  position: absolute;

  .small & {
    bottom: 1vw;
  }

  .medium & {
    bottom: 1.25vw;
  }

  .small &,
  .medium & {
    right: 1.5vw;

    @include tablet {
      bottom: 1.25vw;
    }

    @include mobile {
      right: 3vw;
      bottom: 2.5vw;
    }
  }
}

.tile-logo-sponsor {
  @include sponsor-sizing($min: 30, $max: 60);
  vertical-align: middle;
  width: auto;
  border-width: 0;

  .tile-sponsor & {
    @include mobile {
      @include sponsor-sizing($min: 30, $max: 40, $type: $mobile);
      width: auto;
    }
  }
}

.sponsor-label {
  font-family: $skytext-reg;
  color: $white;
  vertical-align: middle;
  padding-right: .75em;
  font-size: 14px;
  @include transition(color $short-transition ease);

  .tile-sponsor:hover & {
    text-decoration: underline;
  }
}
