@import '~polaris-global/globals/fonts';
@import '../globals/_gradients';
@import '~polaris-global/globals/colours';
@import '~polaris-global/globals/responsive';

@function desktop-font($multiplier) {
  @return ($multiplier / $desktop) * 100vw;
}

.tile.type-nina {
  .tile-bg {
    top: 0;
  }

  .tile-content {
    padding-bottom: 99.99%;
    @extend .polaris-bg-sky-1;
    color: color(white);
  }

  .tile-content-inner {
    text-align: center;
  }

  .tile-nina-button {
    font-weight: bold;
    margin: 2.5% auto 0;
    display: inline-block;
    padding: .3em 1.3em;
    border: 1px solid color(white);
    border-radius: 4px;
    color: color(white);
    font-size: desktop-font(20);

    @include tablet {
      font-size: desktop-font(40);
    }

    @include mobile {
      font-size: desktop-font(84);
    }
  }

  &:hover .tile-nina-button {
    background-color: color(white);
    color: $sky-blue;
  }

  &.small {
    .tile-title {
      font-size: desktop-font(36);
      line-height: 1.2em;
      color: color(white);
      padding-top: 0.5em;

      @include tablet {
        font-size: desktop-font(56);
      }

      @include mobile {
        font-size: desktop-font(124);
      }
    }

    .tile-subtitle {
      padding-top: 1.2em;
      font-size: desktop-font(20);
      line-height: 1.5em;
      color: color(white);
      margin-bottom: 0.8em;

      @include tablet {
        font-size: desktop-font(38);
      }

      @include mobile {
        font-size: desktop-font(84);
      }
    }
  }
}
