@import '~polaris-global/globals/colours';
@import '~polaris-global/globals/constants';
@import '~polaris-global/globals/fonts';
@import '~polaris-global/globals/mixins';
@import '~polaris-global/globals/responsive';

@import '../shine/shine';
@import '../globals/constants';

.tile {
  position: relative;
  padding: 5px;
  background: white(10);
  box-shadow: 1px 1px 15px black(20);
  opacity: .001;
  border: 1px solid white(20);
  @include transform(translateY(60px));
  @include transition(opacity $med-transition ease, transform $med-transition ease);

  &.has-focus {
    box-shadow: 0 0 100px $access-blue;
    border: 4px solid $access-blue;
  }

  &.in-view {
    @include transform(translateY(0));
    opacity: 1;

    &.no-anim {
      @include transition(opacity 0s ease, transform 0s ease);
    }
  }
}

.tile-inner {
  position: relative;
  overflow: hidden;
  display: block;
}

.tile-link {
  display: block;

  &:hover {
    .tile-title {
      color: $white;
    }

    .tile-media-bg {
      @include transform(scale(1.05, 1.05));

      @include touch {
        @include transform(none);
      }
    }
  }
}

.tile-media {
  position: relative;
  overflow: hidden;
}

.tile-media-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  @include transition(transform $long-transition ease, margin $long-transition ease);
}

.tile-content {
  position: relative;
}

.tile-content-inner {
  position: absolute;
  left: $tile-content-horizontal-spacing;
  right: $tile-content-horizontal-spacing;

  .tile.small & {
    top: $small-tile-content-vertical-spacing;
    bottom: 1vw;
  }

  .tile.medium & {
    top: $medium-tile-content-vertical-spacing;
    bottom: 1.25vw;
  }

  .tile.small &,
  .tile.medium & {

    @include tablet {
      top: $tile-content-tablet-vertical-spacing;
      left: $tile-content-horizontal-spacing;
      right: $tile-content-horizontal-spacing;
      bottom: 1.25vw;
    }

    @include mobile {
      top: $tile-content-mobile-vertical-spacing;
      left: $tile-content-mobile-horizontal-spacing;
      right: $tile-content-mobile-horizontal-spacing;
      bottom: 2.5vw;
    }
  }
}

.tile-title {
  padding: 0;
  margin: 0;
  line-height: 1em;
  color: $white;
  @include font($skytext-reg);

  .tile:hover & {
    text-decoration: underline;
  }

  .tile.small & {
    font-size: 30 / $desktop * 100vw;
  }

  .tile.medium & {
    font-size: 36 / $desktop * 100vw;
  }

  .tile.small &,
  .tile.medium & {
    @include tablet {
      font-size: 34 / $tablet * 100vw;
    }

    @include mobile {
      font-size: 40 / $mobile * 100vw;
    }
  }
}

.tile-details {
  padding: 0;
  margin: 0;
  line-height: 1em;
  color: $white;
  @include font($skytext-reg);

  .tile.small & {
    font-size: 20 / $desktop * 100vw;
  }

  .tile.medium & {
    font-size: 24 / $desktop * 100vw;
  }

  .tile.small &,
  .tile.medium & {
    @include tablet {
      font-size: 22 / $tablet * 100vw;
    }

    @include mobile {
      font-size: 22 / $mobile * 100vw;
    }
  }
}

.tile[data-content=search]{

  .tile-link {
    @include mobile {
      height: 100%;
    }
  }

  .tile-media-bg {
    height: 100%;
  }
}
