@import '~gradients/src/styles/gradients';
@import '~polaris-global/globals/colours';
@import '~polaris-global/globals/constants';
@import '~polaris-global/globals/logos';
@import '~polaris-global/globals/responsive';

@import '../tile-sponsor/tile-sponsor';

.tile.type-content {

  .tile-bg-default {
    @extend .polaris-bg-default;
  }

  .tile-bg-active {
    @include transition(opacity $med-transition ease);
    opacity: 0;
  }

  &:hover,
  &:focus,
  &.has-focus {
    .tile-inner .tile-bg-active {
      opacity: 1;
    }

    .tile-title {
      color: $white;
    }

    .tile-sponsor span {
      color: $white;
    }
  }

  &.sky-atlantic {
    .tile-media-logo-channel {
      @include logo-sky-atlantic;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-atlantic;
    }
  }

  &.sky-living {
    .tile-media-logo-channel {
      @include logo-sky-living;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-living;
    }
  }

  &.sky-sports {
    .tile-media-logo-channel {
      @include logo-sky-sports;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-sports;
    }
  }

  &.sky-movies {
    .tile-media-logo-channel {
      @include logo-sky-movies;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-movies;
    }
  }

  &.sky-arts {
    .tile-media-logo-channel {
      @include logo-sky-arts;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-arts;
    }
  }

  &.sky-news {
    .tile-media-logo-channel {
      @include logo-sky-news;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-news;
    }
  }

  &.sky-1 {
    .tile-media-logo-channel {
      @include logo-sky-1;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-1;
    }
  }

  &.sky-box-sets {
    .tile-media-logo-channel {
      @include logo-sky-box-sets;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-box-sets;
    }
  }

  &.sky-store {
    .tile-media-logo-channel {
      @include logo-sky-store;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-store;
    }
  }

  &.sky-kids {
    .tile-media-logo-channel {
      @include logo-sky-kids;
    }

    .tile-bg-active {
      @extend .polaris-bg-sky-kids;
    }
  }

  .tile-bg {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 100% 150%;
    }
  }

  @include tablet {
    &.small,
    &.medium {
      .tile-media-logo-channel {
        left: 1.5vw;
        bottom: 1.5vw;
      }
    }
  }

  @include mobile {
    &.small,
    &.medium {
      .tile-media-logo-channel {
        bottom: 3vw;
        left: 3vw;
      }
    }
  }

  .tile-bg-default {
    @extend .polaris-bg-default;
  }

  .tile-bg-active {
    @include transition(opacity $med-transition ease);
  }

  .tile-media {
    padding-bottom: 56.25%;
  }

  .tile-media-logo-channel {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 1.5vw;
    height: 20px;
    left: 1.5vw;
    position: absolute;
    width: 200px;

    &[src*=sky-box-sets],
    &[src*=Sky-Store] {
      height: 12.5%;
      max-height: 30px;
      min-height: 25px;
    }
  }

  .tile-content {
    padding-bottom: 43.75%;
  }

  .tile-title {
    @include transition(color $short-transition ease);
    margin-bottom: .25em;
    color: $dark-grey;
  }

  .tile-details {
    @include transition(color $short-transition ease);
  }
}

.tile.type-content[data-content=search],
.watch-only-tiles > .tile-container > .tile.type-content {

  .tile-inner {

    @include mobile {
      height: 22vw;
    }
  }

  .tile-link {

    @include mobile {

      .tile-media {
        float: right;
        width: 155px;
      }

      .tile-content {
        height: 88px;
        margin-right: 155px;
      }

      .tile-title {
        font-size: 4.6vw;
      }

      .tile-bg {
        height: 88px;
        top: 0;
      }
    }

  }
}
