@import '../../node_modules/gradients/src/styles/gradients';
@import '../../node_modules/polaris-global/globals/colours';
@import '../../node_modules/polaris-global/globals/constants';
@import '../../node_modules/polaris-global/globals/logos';
@import '../../node_modules/polaris-global/globals/responsive';

.tile.type-channel {
  &:hover,
  &:focus,
  &.has-focus {
    .tile-inner .tile-bg-active {
      opacity: 1;
    }

    .tile-title {
      color: $white;
    }
  }

  .tile-content {
    padding-bottom: 43.75%;
  }

  .tile-media {
    padding-bottom: 56.25%;
  }

  .tile-media-bg {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .tile-bg {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 100% 150%;
    }
  }

  .tile-bg-default {
    @extend .polaris-bg-default;
  }

  .tile-bg-active {
    @include transition(opacity $med-transition ease);
    opacity: 0;
  }

  .sky-sports-channel-promo {
    .tile-bg-active {
      @extend .polaris-bg-sky-sports;
    }
  }

  .sky-movies-channel-promo {
    .tile-bg-active {
      @extend .polaris-bg-sky-movies;
    }
  }

  .sky-news-channel-promo {
    .tile-bg-active {
      @extend .polaris-bg-sky-news;
    }
  }

  .tile-title {
    margin-bottom: .25em;
    color: $black;
    @include transition(color $short-transition ease);
  }
}
