@import '../globals/_gradients';
@import '~polaris-global/globals/colours';
@import '~polaris-global/globals/fonts';
@import '~polaris-global/globals/mixins';
@import '~polaris-global/globals/responsive';

@import '../globals/constants';

.tile.theme-text-with-background,
.tile.theme-channel {
  .tile-media {
    padding-bottom: 56.25%;
  }

  .tile-content {
    padding-bottom: 43.75%;
  }

  .tile-title,
  .tile-link:hover .tile-title {
    color: $dark-grey;
  }
}

.tile.theme-text-with-background {

  .tile-bg {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 100%;
    }
   }

  .tile-bg-default {
    @extend .polaris-bg-default;
  }

  .tile-bg-active {
    @include transition(opacity $med-transition ease);
    opacity: 0;
    @extend .polaris-bg-default-dark;
  }

  &:hover {
    .tile-bg-active {
      opacity: 1;
    }
  }

  &.small .tile-legal {
    bottom: $small-tile-content-vertical-spacing;
    left: $tile-content-horizontal-spacing;
  }

  &.medium .tile-legal {
    bottom: $medium-tile-content-vertical-spacing;
    left: $tile-content-horizontal-spacing;
  }

  &.small,
  &.medium {
    .tile-legal {
      position: absolute;
      color: $dark-grey;
      font-size: 13px;
      line-height: 1em;
      @include font($skytext-reg);

      @include tablet {
        bottom: $tile-content-tablet-vertical-spacing;
      }

      @include mobile {
        left: $tile-content-mobile-horizontal-spacing;
        bottom: $tile-content-mobile-vertical-spacing;
      }
    }
  }
}
