@import '~polaris-global/globals/colours';

.tile.type-link {

  .tile-media {
    padding-bottom: 100%;
  }

  &.small,
  &.medium {
    .tile-content-inner {
      bottom: auto;
    }
  }

  &.theme-light .tile-title {
    color: $black;
  }

  &.theme-dark .tile-title {
    color: $white;
  }

  &.theme-light,
  &.theme-dark {
    .tile-content-inner {
      bottom: 0;
    }

    &.small .tile-content-inner {
      top: 1vw;
    }

    &.medium .tile-content-inner {
      top: 1.25vw;
    }

    .tile-content {
      bottom: 0;
      padding-bottom: 43.75%;
      position: absolute;
      width: 100%;
    }

    .tile-title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.tile.type-link[data-content=search] {

  .tile-inner {

    @include mobile {
      height: 22vw;
    }
  }

  .tile-link {

    @include mobile {

      .tile-media {
        float: right;
        width: 155px;
      }

      .tile-content {
        height: 88px;
        margin-right: 155px;
      }

      .tile-title {
        font-size: 1.1rem;
      }

      .tile-bg {
        height: 88px;
        top: 0;
      }
    }

    .tile-title {
      color: $mid-grey;
    }
  }
}
