@import '../../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../node_modules/gradients/src/styles/gradients';
@import '../../node_modules/polaris-global/globals/colours';
@import '../../node_modules/polaris-global/globals/mixins';
@import '../../node_modules/polaris-global/globals/responsive';

.tile.theme-text-with-background,
.tile.theme-channel {
  .tile-media {
    padding-bottom: 56.25%;
  }

  .tile-content {
    padding-bottom: 43.75%;
  }

  .tile-title,
  .tile-link:hover .tile-title {
    color: $dark-grey;
  }
}

.tile.theme-text-with-background {

  .tile-bg {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 100% 150%;
    }
  }

  .tile-bg-default {
    @extend .polaris-bg-default;
  }

  .tile-bg-active {
    @include transition(opacity $med-transition ease);
    opacity: 0;
    @extend .polaris-bg-default-dark;
  }

  &:hover {
    .tile-bg-active {
      opacity: 1;
    }
  }
}

